---
- name: Install packages
  become: true
  community.general.pacman:
    name:
      - adlplug-lv2
      - ardour
      - audacity
      - calf
      - cardinal-lv2
      - cardinal-standalone
      - dexed
      - dexed-standalone
      - dexed-vst3
      - distrho-ports-lv2
      - fluidsynth
      - liquidsfz-lv2
      - lsp-plugins-lv2
      - musescore
      - noise-repellent
      - qpwgraph
      - realtime-privileges
      - sfizz-lv2
      - sfizz-standalone
      - solfege
      - surge-xt-vst3
- name: Add user to realtime group
  become: true
  ansible.builtin.user:
    name: "{{ user }}"
    groups: realtime
    append: true
- name: Package facts
  ansible.builtin.package_facts:
    manager: pacman
- name: Build AUR
  ansible.builtin.command: makepkg --install --syncdeps --needed --noconfirm
  args:
    chdir: "aurs/{{ item.name }}"
  when: 'item.name not in ansible_facts.packages or ansible_facts.packages[item.name][0]["version"] != item.version'
  loop:
    - name: octasine
      version: 0.9.0-1
    - name: carla-git
      version: 1:2.5.1.r452.gdf1f800a3-1
    - name: libaudec
      version: 0.3.4-1
