/playbook.retry
/playbook.yml
*.spl
*.pyc
__pycache__
/venv
/aurs/*/src
/aurs/*/pkg
/aurs/*/*.tar.gz
/aurs/*/*.zst
/aurs/libaudec/libaudec-v0.3.4
/aurs/libbacktrace-git/libbacktrace
/aurs/libbacktrace-git/*.patch
