- hosts:
   - cn-bm-jwilcox
   - cn-lp-jwilcox
   - Argentina3
   - Mexico3U
  connection: local
  roles:
    - common
    - fpga_dev
    - scala_dev
    - gba_dev
    - erlang_dev
    - haskell_dev
    - gui
    - snaps
- hosts:
   - no-place-like-home-test
  connection: local
  roles:
    - common
    - fpga_dev
    - scala_dev
    - gba_dev
    - erlang_dev
    - gui
