- hosts: all
  connection: local
  tasks:
    - name: Install apt transport https
      become: yes
      apt:
        name: apt-transport-https
    - name: Add chrome repo
      become: yes
      apt_repository:
        repo: "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main"
        filename: google-chrome
    - name: Add MS key
      become: yes
      apt_key:
        url: https://packages.microsoft.com/keys/microsoft.asc
    - name: Add VS Code repo
      become: yes
      apt_repository:
        repo: "deb [arch=amd64] http://packages.microsoft.com/repos/vscode stable main"
        filename: vscode
    - name: Prepare docker repo key
      become: yes
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
    - name: Prepare docker repo
      become: yes
      apt_repository:
        repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release|lower }} stable"
        filename: docker-ce
    - name: Add neovim PPA
      become: yes
      apt_repository:
        repo: ppa:neovim-ppa/stable
    - name: Add universe repo
      become: yes
      apt_repository:
        repo: "deb http://us.archive.ubuntu.com/ubuntu {{ ansible_distribution_release|lower }} universe"
        state: present
    - name: Install apt packages 
      become: yes
      apt:
        name: "{{ packages }}"
      vars:
        packages:
        - neovim
        - build-essential
        - ruby
        - ruby-dev
        - keepass2
        - curl
        - rxvt
        - tmux
        - xclip
        - shellcheck
        - virtualenvwrapper
        - google-chrome-stable
        - python3-pip
        - mgba-qt
        - htop
        - gdb
        - docker-ce
        - code
    - name: Add user to docker group
      user:
        name: "{{ lookup('env', 'USER') }}"
        groups: docker
        append: yes
    - name: Install python packages
      pip:
        name: "{{ packages }}"
        executable: pip3
        extra_args: --user
      vars:
        packages:
          - flake8
          - pylint
          - invoke
          - neovim
          - black
          - virtualenv
          - dotdrop
    - name: Install neovim ruby extension
      gem:
        name: neovim
    - name: Install rust
      shell: "curl https://sh.rustup.rs -sSf | sh -s -- -y --no-modify-path && rustup component add rls rustc-src"
      args:
        creates: "{{ lookup('env', 'HOME') }}/.cargo/bin/rustc"
    - name: Install ripgrep
      command: cargo install ripgrep
      args:
        creates: "{{ lookup('env', 'HOME') }}/.cargo/bin/rg"
