- hosts:
   - cn-bm-jwilcox2
   - cn-lp-jwilcox
   - Argentina3
   - mexico3
   - Mexico3U
   - peru
   - laptopvm
   - desktopvm
  vars:
    home: "{{ lookup('env', 'HOME') }}"
    user: "{{ lookup('env', 'USER') }}"
  connection: local
  roles:
    - common
    - re
    - js_dev
    - fpga_dev
    - scala_dev
    - gba_dev
    - cx16
    - gui
    - snaps
- hosts:
   - no-place-like-home-test
   - LAPTOP-KF5TTGVL
   - DESKTOP-LTP3LOJ
  connection: local
  roles:
    - common
    - js_dev
    - fpga_dev
    - scala_dev
    - gba_dev
    - gui
