snippet ife
	if (${1:condition}) then
	   ${2}
	else
	   ${3}
	end if;

snippet testbench
	library std;
	use std.env.all;

	library ieee;
	use ieee.std_logic_1164.all;
	use ieee.numeric_std.all;

	entity tb_${1:name} is
	end tb_${1:name};

	architecture behave of tb_${1:name} is
		constant CLK_PERIOD : time := 10 ns;

		signal clk  : std_logic := '0';
		signal arst : std_logic;
	begin
		clk <= not clk after CLK_PERIOD / 2;

		${2}

		stimulus_p: process
		begin
			arst <= '0';
			wait for CLK_PERIOD;
			arst <= '1';

			finish;
		end process stimulus_p;
	end architecture behave;

snippet instp
	U_${1:name} : entity work.${1:name}
	port map (
		clk  => clk,
		arst => arst,
		${2}
	);

snippet clockp
	${1:name}_p: process(clk, arst) is
	begin
		if (arst = '0') then
			${2}
		elsif rising_edge(clk) then
			${3}
		end if;
	end process ${1:name}_p;
