snippet testbench
	library std;
	use std.env.all;

	library ieee;
	use ieee.std_logic_1164.all;
	use ieee.numeric_std.all;

	entity tb_${1:name} is
	end tb_${1:name};

	architecture behave of tb_${1:name} is
		constant CLK_PERIOD : time := 10 ns;

		signal clk  : std_logic := '0';
		signal rst  : std_logic := '1';
	begin
		clk <= not clk after CLK_PERIOD / 2;

		${2}

		stimulus_p: process
		begin
			rst <= '1';
			wait for CLK_PERIOD;
			rst <= '0';

			finish;
		end process stimulus_p;
	end architecture behave;

snippet cmp
	library ieee;
	  use ieee.std_logic_1164.all;
	  use ieee.numeric_std.all;

	entity ${1:name} is
	  generic (
	  );
	  port (
	    clk_i : in std_logic;
		rst_i : in std_logic;
	  );
	end ${1:name};

	architecture rtl of ${1:name} is
	begin
	  ${2}
	end architecture rtl;

snippet instp
	u_${1:name} : entity work.${1:name}
	port map (
		clk_i => clk,
		rst_i => rst,
		${2}
	);

snippet sclockp
	${1:name}: process(clk_i) is
	begin
		if rising_edge(clk_i) then
			if (rst_i = '1') then
				${2}
			else
				${3}
			end if;
		end if;
	end process ${1:name};

snippet oz
	(others => '0');
