---
- name: Install rust
  ansible.builtin.shell: "curl https://sh.rustup.rs -sSf | sh -s -- -y --no-modify-path && rustup component add rls rust-src rust-analyzer"
  args:
    creates: "{{ lookup('env', 'HOME') }}/.cargo/bin/rustc"
- name: Update rust
  ansible.builtin.command: "rustup update"
- name: Install required apt packages
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
  loop:
    - libudev-dev
- name: Install difftastic
  ansible.builtin.command: cargo install --locked --version 0.52.0 difftastic
  args:
    creates: "{{ home }}/.cargo/bin/difft"
- name: Install WatchIt
  ansible.builtin.command: cargo install --locked --git https://github.com/ADTRAN/WatchIt.git
  args:
    creates: "{{ home }}/.cargo/bin/watchit"
