---
- name: Install packages
  become: true
  community.general.pacman:
    name:
      - adobe-source-code-pro-fonts
      - cheese
      - chromium
      - code
      - cups
      - dconf-editor
      - eog
      - ffmpeg
      - ffmpeg
      - file-roller
      - firefox
      - freecad
      - gnome
      - gnome-shell-extension-caffeine
      - gparted
      - helvum
      - inkscape
      - intel-media-driver
      - keepass
      - libusb-compat
      - libva-utils
      - lua
      - meld
      - mesa-utils
      - networkmanager
      - noto-fonts
      - noto-fonts-cjk
      - noto-fonts-emoji
      - obs-studio
      - pipewire
      - pipewire-alsa
      - pipewire-audio
      - pipewire-jack
      - pipewire-pulse
      - prusa-slicer
      - qalculate-gtk
      - samba
      - ttf-bitstream-vera
      - ttf-cascadia-code
      - ttf-dejavu
      - ttf-ubuntu-mono-nerd
      - vlc
      - vulkan-intel
      - vulkan-tools
      - wireplumber
      - wireshark-qt
      - xorg-xwayland
- name: Enable services
  become: true
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    enabled: true
  loop:
    - gdm.service
    - NetworkManager.service
# TODO: sitelen pona pona
