- name: Add chrome key
  become: true
  ansible.builtin.apt_key:
    url: https://dl.google.com/linux/linux_signing_key.pub
- name: Add chrome repo
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main"
    filename: google-chrome
- name: Add MS key
  become: true
  ansible.builtin.apt_key:
    url: https://packages.microsoft.com/keys/microsoft.asc
- name: Add VS Code repo
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] http://packages.microsoft.com/repos/vscode stable main"
    filename: vscode
- name: Install apt packages
  become: true
  ansible.builtin.apt:
    name: "{{ packages }}"
  vars:
    packages:
      - code
      - dia
      - fonts-noto
      - freecad
      - google-chrome-stable
      - inkscape
      - keepass2
      - meld
      - obs-studio
      - wireshark
- name: Clone source-code-pro font repo
  ansible.builtin.git:
    repo: https://github.com/adobe-fonts/source-code-pro.git
    version: 29fdb884c6e9dc2a312f4a5e2bb3b2dad2350777
    refspec: release
    dest: "{{ home }}/.local/share/source-code-pro"
- name: Install source-code-pro fonts
  ansible.posix.synchronize:
    src: "{{ home }}/.local/share/source-code-pro/OTF/"
    dest: "{{ home }}/.fonts/"
  register: source_code_pro
- name: Download Ubuntu Mono Nerd Font
  ansible.builtin.get_url:
    url: https://github.com/ryanoasis/nerd-fonts/releases/download/v2.2.2/UbuntuMono.zip
    dest: "{{ home }}/.local/share/UbuntuMono-Nerd.zip"
    checksum: sha256:6a5b0cf6ec7c20c93d3854d0ffa1f0944ad18d11b6574d057b401ece63f64c56
    mode: "644"
  register: ubuntu_nerd
- name: Install Ubuntu Mono Nerd Font
  ansible.builtin.unarchive:
    src: "{{ ubuntu_nerd.dest }}"
    dest: "{{ home }}/.fonts"
  when: ubuntu_nerd.changed
  register: ubuntu_nerd_install
- name: Download Joplin
  ansible.builtin.get_url:
    url: https://github.com/laurent22/joplin/releases/download/v2.8.8/Joplin-2.8.8.AppImage
    dest: "{{ home }}/.local/bin/Joplin"
    checksum: sha256:637fc21d10e7e17b6dea2cfe215135809332eb0f217a9d3049efb66938957447
    mode: "755"
- name: Download Cascadia Code
  ansible.builtin.get_url:
    url: https://github.com/microsoft/cascadia-code/releases/download/v2111.01/CascadiaCode-2111.01.zip
    dest: "{{ home }}/.local/share/CascadiaCode.zip"
    checksum: sha256:51fd68176dffb87e2fbc79381aef7f5c9488b58918dee223cd7439b5aa14e712
    mode: "644"
  register: cascadia_code
- name: Install Cascadia Code Font
  ansible.builtin.unarchive:
    src: "{{ cascadia_code.dest }}"
    dest: "{{ home }}/.fonts"
    extra_opts:
      - -j
  when: cascadia_code.changed
  register: cascadia_code_install
- name: Download sitelen pona pona
  ansible.builtin.get_url:
    url: https://github.com/jackhumbert/sitelen-pona-pona/releases/download/v0.2/sitelen-pona-pona.otf
    dest: "{{ home }}/.fonts/"
    checksum: sha256:5927f08abbbd22cb41d6451c857bbbe6c29b1beb8cd67ddd646240ad93b3112f
    mode: "644"
  register: sitelen_pona_pona
- name: Update font cache
  ansible.builtin.command: fc-cache -fv
  when: cascadia_code_install.changed or sitelen_pona_pona.changed or ubuntu_nerd_install.changed or source_code_pro.changed
