- name: Add chrome key
  become: yes
  apt_key:
    url: https://dl.google.com/linux/linux_signing_key.pub
- name: Add chrome repo
  become: yes
  apt_repository:
    repo: "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main"
    filename: google-chrome
- name: Add MS key
  become: yes
  apt_key:
    url: https://packages.microsoft.com/keys/microsoft.asc
- name: Add VS Code repo
  become: yes
  apt_repository:
    repo: "deb [arch=amd64] http://packages.microsoft.com/repos/vscode stable main"
    filename: vscode
- name: Install apt packages
  become: yes
  apt:
    name: "{{ packages }}"
  vars:
    packages:
    - code
    - dia
    - fcitx
    - fcitx-googlepinyin
    - fcitx-table-wbpy
    - fcitx-pinyin
    - fcitx-sunpinyin
    - fonts-noto
    - google-chrome-stable
    - inkscape
    - keepass2
    - meld
    - ttf-mscorefonts-installer
- name: Install VSCode extensions
  script: install_vscode_extensions
