- name: Add chrome key
  become: yes
  apt_key:
    id: 6494C6D6997C215E
    keyserver: keyserver.ubuntu.com
- name: Add chrome repo
  become: yes
  apt_repository:
    repo: "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main"
    filename: google-chrome
- name: Add MS key
  become: yes
  apt_key:
    url: https://packages.microsoft.com/keys/microsoft.asc
- name: Add VS Code repo
  become: yes
  apt_repository:
    repo: "deb [arch=amd64] http://packages.microsoft.com/repos/vscode stable main"
    filename: vscode
- name: Add ownCloud key
  become: yes
  apt_key:
    url: https://download.opensuse.org/repositories/isv:ownCloud:desktop/Ubuntu_18.04/Release.key
- name: Add ownCloud repo
  become: yes
  apt_repository:
    repo: "deb http://download.opensuse.org/repositories/isv:/ownCloud:/desktop/Ubuntu_18.04/ /"
    filename: owncloud
- name: Install apt packages
  become: yes
  apt:
    name: "{{ packages }}"
  vars:
    packages:
    - code
    - dia
    - fcitx
    - fcitx-googlepinyin
    - fctix-table-wbpy
    - fctix-pinyin
    - fctix-sumpinyin
    - google-chrome-stable
    - inkscape
    - keepass2
    - krita
    - meld
    - owncloud-client
    - rxvt
    - ttf-mscorefonts-installer
- name: Install VSCode extensions
  script: install_vscode_extensions
- name: Enable owncloud tunnel service
  systemd:
    state: started
    enabled: yes
    scope: user
    daemon_reload: yes
    name: owncloud-tunnel
