---
- name: Install packages
  become: true
  community.general.pacman:
    name:
      - ansible
      - base-devel
      - bash-completion
      - cmake
      - cowsay
      - curl
      - difftastic
      - docker
      - dosfstools
      - fuse-overlayfs
      - fzf
      - gdb
      - htop
      - less
      - libqalculate
      - neovim
      - nodejs
      - openssh
      - python-black
      - python-pip
      - python-poetry
      - python-virtualenv
      - ripgrep
      - rsync
      - rustup
      - shellcheck
      - sshpass
      - tmux
      - tree
      - usbutils
      - xclip
- name: Install Rust toolchain
  command: rustup default stable
  args:
    creates: "{{ home }}/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/bin/rustc"
- name: Install rust-analyzer
  command: rustup component add rust-analyzer
  args:
    creates: "{{ home }}/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/bin/rust-analyzer"
- name: Enable services
  become: true
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    enabled: true
  loop:
    - docker.service
    - sshd.service
    - systemd-timesyncd.service
- name: Add user to docker group
  become: true
  ansible.builtin.user:
    name: "{{ user }}"
    groups: docker
    append: true
