---
- name: Install packages
  become: true
  community.general.pacman:
    name:
      - ansible
      - cowsay
      - curl
      - difftastic
      - fzf
      - gdb
      - libqalculate
      - neovim
      - openssh
      - python-black
      - python-pip
      - python-poetry
      - python-virtualenv
      - ripgrep
      - rsync
      - rustup
      - shellcheck
      - sshpass
      - tmux
      - tree
      - xclip
- name: Install Rust toolchain
  command: rustup default stable
  args:
    creates: "{{ home }}/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/bin/rustc"
- name: Install rust-analyzer
  command: rustup component add rust-analyzer
  args:
    creates: "{{ home }}/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/bin/rust-analyzer"
