- name: Setup configuration directories
  ansible.builtin.file:
    dest: "{{ home }}/{{ item }}"
    state: directory
    mode: "755"
  with_items:
    - .config
    - .config/autostart
    - .config/Code/User
    - .config/systemd/user
    - .local/bin
    - .local/src
    - .virtualenvs
    - .FreeCAD
    - .local/share
    - .local/share/qalculate
    - .fonts
- name: Setup sensitive directories
  ansible.builtin.file:
    dest: "{{ home }}/{{ item }}"
    state: directory
    mode: "700"
  with_items:
    - .gnupg
    - .ssh
- name: Install dotfiles
  ansible.builtin.file:
    src: "{{ playbook_dir }}/dotfiles/{{ item.src }}"
    dest: "{{ home }}/{{ item.dest }}"
    state: link
    force: true
  with_items:
    - src: gitconfig
      dest: .gitconfig
    - src: gitignore
      dest: .gitignore
    - src: fdignore
      dest: .fdignore
    - src: spacemacs
      dest: .spacemacs
    - src: config/nvim
      dest: .config/nvim
    - src: config/alacritty
      dest: .config/alacritty
    - src: config/Code/User/keybindings.json
      dest: .config/Code/User/keybindings.json
    - src: config/autostart/gnome-keyring-ssh.desktop
      dest: .config/autostart/gnome-keyring-ssh.desktop
    - src: gnupg/gpg.conf
      dest: .gnupg/gpg.conf
    - src: gnupg/gpg-agent.conf
      dest: .gnupg/gpg-agent.conf
    - src: bashrc
      dest: .bashrc
    - src: inputrc
      dest: .inputrc
    - src: profile
      dest: .profile
    - src: tmux.conf
      dest: .tmux.conf
    - src: Xresources
      dest: .Xresources
    - src: FreeCAD/Macro
      dest: .FreeCAD/Macro
    - src: ideavimrc
      dest: .ideavimrc
    - src: sbclrc
      dest: .sbclrc
- name: Install local scripts
  ansible.builtin.file:
    src: "{{ item }}"
    dest: "{{ home }}/.local/bin/{{ item | basename }}"
    state: link
    force: true
  with_fileglob:
    - "{{ playbook_dir }}/bin/*"
- name: Generate ssh-config
  ansible.builtin.template:
    src: templates/ssh-config
    dest: "{{ home }}/.ssh/config"
    mode: "600"
- name: Install apt transport https
  become: true
  ansible.builtin.apt:
    name: apt-transport-https
- name: Update apt packages
  become: true
  ansible.builtin.apt:
    upgrade: dist
    update_cache: true
- name: Install apt packages
  become: true
  ansible.builtin.apt:
    name: "{{ packages }}"
  vars:
    packages:
      - bison
      - build-essential
      - cowsay
      - curl
      - fd-find
      - flatpak
      - flex
      - fzf
      - gdb-multiarch
      - git
      - gnupg2
      - htop
      - libssl-dev
      - openssh-server
      - pcscd
      - pkg-config
      - python3-pip
      - python3-venv
      - ripgrep
      - ruby
      - ruby-bundler
      - ruby-dev
      - scdaemon
      - shellcheck
      - sl
      - sshpass
      - tmux
      - tree
      - xclip
- name: Remove apt packages
  become: true
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: absent
  vars:
    packages:
      - elixir
      - evolution
      - krita
- name: Download neovim
  ansible.builtin.get_url:
    url: https://github.com/neovim/neovim/releases/download/v0.8.3/nvim-linux64.deb
    checksum: sha256:0828910da0b532e7564b1d200645bd846e6b2e1d10aa3111e36b59c1521b16f0 
    dest: "{{ home }}/.local/share/neovim.deb"
    mode: "644"
  register: neovim_dl
- name: Install neovim
  become: true
  ansible.builtin.apt:
    deb: "{{ neovim_dl.dest }}"
  when: neovim_dl.changed
- name: Install python packages
  ansible.builtin.pip:
    name: "{{ packages }}"
    executable: pip3
    extra_args: --user
    state: latest
  vars:
    packages:
      - black
      - neovim
      - poetry
      - pre-commit
      - pylama
      - pylint
      - pyright
      - virtualenv
- name: Setup neovim virtualenv Python 3
  ansible.builtin.pip:
    name: pynvim
    virtualenv: "{{ lookup('env', 'HOME') }}/.virtualenvs/neovim-py3"
    virtualenv_python: python3
- name: Add jedi to neovim virtualenv
  ansible.builtin.pip:
    name: jedi
    virtualenv: "{{ lookup('env', 'HOME') }}/.virtualenvs/neovim-py3"
- name: Download insect
  ansible.builtin.get_url:
    url: https://github.com/sharkdp/insect/releases/download/v5.7.0/insect-linux-x64
    checksum: sha256:38d0971342c741bcc688416059ad936b371d4fc5f74883a4369952b1ff4e3b02
    dest: "{{ home }}/.local/bin/insect"
    mode: "755"
- name: Download qalculate
  ansible.builtin.get_url:
    url: https://github.com/Qalculate/qalculate-gtk/releases/download/v4.6.0/qalculate-4.6.0-x86_64.tar.xz
    checksum: sha256:fdeb542120e017ef2745a6eeb3b8522a86c251c71502ab6fcaa1116955bb399b
    dest: "{{ home }}/.local/share/qalculate-gtk.tar.xz"
    mode: "644"
  register: qalculate_dl
- name: Unpack qalculate
  ansible.builtin.unarchive:
    src: "{{ qalculate_dl.dest }}"
    dest: "{{ home }}/.local/share/qalculate"
  when: qalculate_dl.changed
- name: Install qalculate
  ansible.builtin.file:
    src: "{{ home }}/.local/share/qalculate/qalculate-4.6.0/{{ item }}"
    dest: "{{ home }}/.local/bin/{{ item }}"
    state: link
  loop:
    - qalc
    - qalculate
- name: Add the flathub flatpak repository remote to the user installation
  become: true
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
- name: Download difftastic
  ansible.builtin.get_url:
    url: https://github.com/Wilfred/difftastic/releases/download/0.45.0/difft-x86_64-unknown-linux-gnu.tar.gz
    checksum: sha256:8ae5f04faba95c868d3f878da7b96d23d6e6943e8b100d0041d4ed8778f83a07
    dest: "{{ home }}/.local/share/difft.tar.gz"
    mode: "644"
  register: difft_dl
- name: Extract difftastic
  ansible.builtin.unarchive:
    src: "{{ difft_dl.dest }}"
    dest: "{{ home }}/.local/bin/"
  when: difft_dl.changed
- name: Install WatchIt
  ansible.builtin.get_url:
    url: https://github.com/ADTRAN/WatchIt/releases/download/v1.0.0/watchit
    dest: "{{ home }}/.local/bin/watchit"
    checksum: sha256:ecae0fb92d2cb6efdbb2f34bbfbcc0d00a486231939ebd73f5155881962af367
    mode: '755'
