---
- name: Setup configuration directories
  ansible.builtin.file:
    dest: "{{ home }}/{{ item }}"
    state: directory
    mode: "755"
  with_items:
    - .config
    - .config/emacs
    - .config/sway
    - .config/foot
    - .local/bin
    - .local/src
    - .virtualenvs
    - .local/share
    - .local/share/neovim
    - .fonts
- name: Setup sensitive directories
  ansible.builtin.file:
    dest: "{{ home }}/{{ item }}"
    state: directory
    mode: "700"
  with_items:
    - .gnupg
    - .ssh
- name: Install dotfiles
  ansible.builtin.file:
    src: "{{ playbook_dir }}/dotfiles/{{ item.src }}"
    dest: "{{ home }}/{{ item.dest }}"
    state: link
    force: true
  with_items:
    - src: gitignore
      dest: .gitignore
    - src: fdignore
      dest: .fdignore
    - src: config/nvim
      dest: .config/nvim
    - src: gnupg/gpg.conf
      dest: .gnupg/gpg.conf
    - src: gnupg/gpg-agent.conf
      dest: .gnupg/gpg-agent.conf
    - src: bashrc
      dest: .bashrc
    - src: inputrc
      dest: .inputrc
    - src: profile
      dest: .profile
    - src: tmux.conf
      dest: .tmux.conf
    - src: Xresources
      dest: .Xresources
    - src: ideavimrc
      dest: .ideavimrc
    - src: sbclrc
      dest: .sbclrc
    - src: sway-config
      dest: .config/sway/config
    - src: config/foot/foot.ini
      dest: .config/foot/foot.ini
- name: Install etc config
  become: true
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/dotfiles/etc/{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "0644"
  with_items:
    - src: sshd_extras.conf
      dest: /etc/ssh/sshd_config.d/sshd_extras.conf
- name: Install local scripts
  ansible.builtin.file:
    src: "{{ item }}"
    dest: "{{ home }}/.local/bin/{{ item | basename }}"
    state: link
    force: true
  with_fileglob:
    - "{{ playbook_dir }}/bin/*"
- name: Generate ssh-config
  ansible.builtin.template:
    src: templates/ssh-config
    dest: "{{ home }}/.ssh/config"
    mode: "600"
- name: Generate templates
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "655"
  loop:
    - src: templates/gitconfig
      dest: "{{ home }}/.gitconfig"
- name: Install apt transport https
  become: true
  ansible.builtin.apt:
    name: apt-transport-https
- name: Update apt packages
  become: true
  ansible.builtin.apt:
    upgrade: dist
    update_cache: true
- name: Install apt packages
  become: true
  ansible.builtin.apt:
    name: "{{ packages }}"
  vars:
    packages:
      - bison
      - build-essential
      - cowsay
      - curl
      - fd-find
      - flex
      - fzf
      - gdb-multiarch
      - git
      - gnupg2
      - htop
      - keychain
      - libssl-dev
      - pcscd
      - pkg-config
      - python3-pip
      - python3-poetry
      - python3-venv
      - qalc
      - ripgrep
      - ruby
      - ruby-bundler
      - ruby-dev
      - scdaemon
      - shellcheck
      - sl
      - sshpass
      - tmux
      - tree
      - xclip
      - virtualenv
      - black
- name: Remove apt packages
  become: true
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: absent
  vars:
    packages:
      - elixir
      - evolution
      - krita
      - neovim
      - python3-pynvim
- name: Setup neovim virtualenv Python 3
  ansible.builtin.pip:
    name: "{{ item }}"
    virtualenv: "{{ home }}/.virtualenvs/neovim-py3"
    virtualenv_python: python3
    state: latest
  loop:
    - jedi
    - pynvim
    - python-lsp-server
- name: Setup pylsp symlink
  ansible.builtin.file:
    src: "{{ home }}/.virtualenvs/neovim-py3/bin/pylsp"
    dest: "{{ home }}/.local/bin/pylsp"
    state: link
    force: true
- name: Download neovim
  ansible.builtin.get_url:
    url: "https://github.com/neovim/neovim/releases/download/v0.10.0/nvim-linux64.tar.gz"
    checksum: sha256:be1f0988d0de71c375982b87b86cd28d2bab35ece8285abe3b0aac57604dfc5a
    dest: "{{ home }}/.cache/nvim-0.10.0.tar.gz"
- name: Setup neovim directory
  become: true
  ansible.builtin.file:
    dest: /opt/nvim-0.10.0/
    state: directory
    mode: "755"
- name: Extract neovim
  become: true
  ansible.builtin.unarchive:
    creates: /opt/nvim-0.10.0/nvim-linux64/bin/nvim
    src: "{{ home }}/.cache/nvim-0.10.0.tar.gz"
    dest: /opt/nvim-0.10.0/
- name: Symlink neovim
  become: true
  ansible.builtin.file:
    src: /opt/nvim-0.10.0/nvim-linux64/bin/nvim
    dest: /usr/local/bin/nvim
    state: link
    force: true
