- name: "Setup configuration directories"
  file:
    dest: "{{ lookup('env','HOME') }}/{{ item }}"
    state: directory
  with_items:
    - .config
    - .config/autostart
    - .config/Code/User
    - .config/systemd/user
    - .ssh
    - .local/bin
    - .virtualenvs
    - .gnupg
- name: "Install dotfiles"
  file:
    src: "{{ playbook_dir }}/dotfiles/{{ item.src }}"
    dest: "{{ lookup('env','HOME') }}/{{ item.dest }}"
    state: link
    force: yes
  with_items:
    - src: gitconfig
      dest: .gitconfig
    - src: gitignore
      dest: .gitignore
    - src: config/nvim
      dest: .config/nvim
    - src: config/Code/User/settings.json
      dest: .config/Code/User/settings.json
    - src: config/Code/User/keybindings.json
      dest: .config/Code/User/keybindings.json
    - src: config/autostart/gnome-keyring-ssh.desktop
      dest: .config/autostart/gnome-keyring-ssh.desktop
    - src: gnupg/gpg.conf
      dest: .gnupg/gpg.conf
    - src: gnupg/gpg-agent.conf
      dest: .gnupg/gpg-agent.conf
    - src: bashrc
      dest: .bashrc
    - src: inputrc
      dest: .inputrc
    - src: profile
      dest: .profile
    - src: tmux.conf
      dest: .tmux.conf
    - src: Xresources
      dest: .Xresources
- name: ssh-config
  template:
    src: templates/ssh-config
    dest: "{{ lookup('env','HOME') }}/.ssh/config"
- name: Install apt transport https
  become: yes
  apt:
    name: apt-transport-https
- name: Prepare docker repo key
  become: yes
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
- name: Add universe repo
  become: yes
  apt_repository:
    repo: "deb http://us.archive.ubuntu.com/ubuntu {{ ansible_distribution_release|lower }} universe"
    state: present
- name: Update apt packages
  become: yes
  apt:
    upgrade: dist
    update_cache: yes
- name: Install apt packages
  become: yes
  apt:
    name: "{{ packages }}"
  vars:
    packages:
    - build-essential
    - cowsay
    - curl
    - docker.io
    - gdb-multiarch
    - git
    - gnupg2
    - htop
    - libssl-dev
    - neovim
    - openssh-server
    - pandoc
    - pcscd
    - pkg-config
    - python3-pip
    - python3-venv
    - ripgrep
    - ruby
    - ruby-bundler
    - ruby-dev
    - scdaemon
    - shellcheck
    - sl
    - sshfs
    - tmux
    - tree
    - virtualenvwrapper
    - wireshark
    - xclip
- name: Remove apt packages
  become: yes
  apt:
    name: "{{ packages }}"
    state: absent
  vars:
    packages:
    - elixir
    - krita
    - thunderbird
- name: Add user to docker group
  become: yes
  user:
    name: "{{ lookup('env', 'USER') }}"
    groups: docker
    append: yes
- name: Install python packages
  pip:
    name: "{{ packages }}"
    executable: pip3
    extra_args: --user
    state: latest
  vars:
    packages:
      - black
      - neovim
      - poetry
      - pre-commit
      - pycodestyle
      - pylama
      - pylint
      - virtualenv
- name: Install neovim ruby extension
  gem:
    name: neovim
    state: latest
- name: Install rust
  shell: "curl https://sh.rustup.rs -sSf | sh -s -- -y --no-modify-path && rustup component add rls rust-src"
  args:
    creates: "{{ lookup('env', 'HOME') }}/.cargo/bin/rustc"
- name: Update rust
  shell: "rustup update"
- name: Setup neovim virtualenv Python 3
  pip:
    name: pynvim
    virtualenv: "{{ lookup('env', 'HOME') }}/.virtualenvs/neovim-py3"
    virtualenv_python: python3.8
