---
- name: Make required directories
  become: true
  file:
    dest: /opt/build
    state: directory
- name: Remove apt packages
  become: true
  ansible.builtin.apt:
    name: neovim
    state: absent
- name: Remove old symlink
  ansible.builtin.file:
    dest: "{{ home }}/.local/bin/nvim"
    state: absent
- name: Install apt packages
  become: true
  ansible.builtin.apt:
    name: "{{ packages }}"
  vars:
    packages:
      - cmake
      - curl
      - gettext
      - ninja-build
      - unzip
- name: Clone neovim
  become: true
  ansible.builtin.git:
    repo: https://github.com/neovim/neovim.git
    dest: /opt/build/neovim
    version: v0.9.4
  register: git
- name: Build neovim
  become: true
  ansible.builtin.shell: |
    set -ex
    rm -rf /opt/neovim
    git clean -dxf
    make -j{{ ansible_processor_cores }} CMAKE_BUILD_TYPE=RelWithDebInfo CMAKE_INSTALL_PREFIX=/opt/neovim
    make install
  args:
    chdir: /opt/build/neovim
    executable: /bin/bash
  when: git.changed
- name: Link neovim
  become: true
  file:
    src: /opt/neovim/bin/nvim
    dest: /usr/local/bin/nvim
    state: link
