- name: Prepare docker repo key
  become: true
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
    keyring: /etc/apt/trusted.gpg.d/docker.gpg
- name: Add docker repo
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release | lower }} stable"
    filename: docker
- name: Install apt packages
  become: true
  ansible.builtin.apt:
    name: docker-ce
- name: Add user to docker group
  become: true
  ansible.builtin.user:
    name: "{{ user }}"
    groups: docker
    append: true
