- name: Desktop Linux
  hosts:
   - localhost
  vars:
   home: "{{ lookup('env', 'HOME') }}"
   user: "{{ lookup('env', 'USER') }}"
   git_email: "jennifer.wilcox@adtran.com"
  connection: local
  roles:
   - common
   - ssh-2fa
   - rust_dev
   - cpp_dev
   - gui
   - snaps
