- hosts:
   - localhost
  vars:
    home: "{{ lookup('env', 'HOME') }}"
    user: "{{ lookup('env', 'USER') }}"
  connection: local
  roles:
    - common
    - docker
    - bazel
    - re
    - rust_dev
    - js_dev
    - fpga_dev
    - cpp_dev
    - scala_dev
    - gba_dev
    - cx16
    - gui
