- name: Add sandboxed snaps
  become: yes
  snap:
    name: "{{ packages }}"
  vars:
    packages:
      - spotify
      - discord
- name: Add classic snaps
  become: yes
  snap:
    name: "{{ packages }}"
    classic: yes
  vars:
    packages:
      - kubectl
